###
# Unity folders and files
###
indie1/Assets/AssetStoreTools*
indie1/Build/
indie1/Library/
indie1/LocalCache/
indie1/Obj/
indie1/Temp/
indie1/UnityGenerated/
# file on crash reports
indie1/sysinfo.txt
# Unity3D generated meta files
indie1/*.pidb.meta

###
# VS/MD solution and project files
###
ExportedObj/
indie1/*.booproj
indie1/*.csproj
indie1/*.sln
indie1/*.suo
indie1/*.svd
indie1/*.unityproj
indie1/*.user
indie1/*.userprefs
idie1/*.pidb
idie1/.DS_Store

###
# OS generated
###
indie1/.DS_Store
indie1/.DS_Store?
indie1/._*
indie1/.Spotlight-V100
indie1/.Trashes
indie1/Icon?
indie1/ehthumbs.db
indie1/Thumbs.db